

[data-theme="dark"] {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 254, 254);
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
  color: #000;
}

[data-theme="dark"] .text-center {
  color: #fff !important;
  
}

.customtexttheme {
  color:white !important;
  
}


[data-theme="dark"] .bi {
  
  color: white;
}

[data-theme="dark"] .text-primary {
  
  color: white;
}

[data-theme="dark"] .bi:hover {
  
  color: black;
}

[data-theme="dark"] .border-secondary {
  background-color:black !important;
}


[data-theme="dark"] .border-secondary:hover {
  background-color:white !important;
  
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: rgb(0, 0, 0) !important;
}

[data-theme="dark"] .bg-primary {
  background-color: rgb(0, 0, 0) !important;
}

[data-theme="dark"] .btn-outline-primary {
  background-color: rgb(0, 0, 0) !important;
  color: #fff;
  border-color: #fff;
}


[data-theme="dark"] .btn-outline-dark {
  background-color: rgb(0, 0, 0) !important;
  color: #fff;
  border-color: #fff;
}

[data-theme="dark"] .btn-outline-dark:hover {
  color: rgb(0, 0, 0) !important;
  background-color: #fff !important;
  border-color: rgb(0, 0, 0) !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}