{% extends "base.html" %}
{% block head %}
<title>
    Learn to Code in a fun way
</title>
{% endblock %}

{% block body %}


<div class=" px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold ">Learn to code in a fun way</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4 "> Start learn to code for free.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-primary btn-lg px-4 me-sm-3 fw-bold">Login</button>
        <button type="button" class="btn btn-outline-dark btn-lg px-4">Sign in</button>
      </div>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://getbootstrap.com/docs/5.0/examples/heroes/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Are you a educator?</h1>
      <p class="lead">Publish your course on Code for Best.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}